@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;

}

:root{
    --primary-color: #3A3A3A;
}


header{
    height: 100vh;
    width: 100vw;
    padding-left: 120px;
    padding-right: 132px;
    padding-top: 87px;
    /* overflow: hidden; */
}


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .left_nav h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

nav .right_nav ul{
    list-style: none;
    display: flex;
    gap: 2.1rem;
    align-items: center;
    
}
.right_nav{
    display: flex;
    align-items: center;
}
.icon{
    padding-top: 5px;
}

nav .right_nav ul li svg{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}


/* main */
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vh - 420px);
    margin-bottom: 130px;
    
}


main .left_hero_section h1{
    font-size: 3.25rem;
    font-weight: bold;
    color: var(--primary-color);
    width: 582px;
    line-height: 70px;
    margin-bottom: 16px;
}

main .left_hero_section p{
    font-size: 1rem;
    color: var(--primary-color);
    width: 505px;
    margin-bottom: 16px;
}


.btn{
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 41px;
    cursor: pointer;
}

main .right_hero_section img{
    background-image: url("./images/Circle\ design.svg");
    width: 440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

header .companies{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px;
    border-top: 2px solid rgba(219, 218, 218, 0.667);
    border-bottom: 2px solid rgba(219, 218, 218, 0.702);
    padding: 36px 60px;
}

.companies .companies_logo1, .companies .companies_logo2{
    display: flex;
    align-items: center;
    gap: 61px;
    

}

.left_nav img{
    display: none;

}

@media screen and (max-width: 400px){


    
   header{
    padding: 35px 16px 0px 16px;
    
   }

   main{
    margin-bottom: 0;
   }
   
    li{
    display: none;
    }
    .left_nav img{
        display: block;
    }

    nav .left_nav{
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }

    nav .left_nav h2{
        font-size: 1rem;

    }

    main{
        flex-direction: column-reverse;
        height: auto;
        margin-top: 22px;
        
        align-self: center;
    }
    main .right_hero_section img{
        width: 202px;
        
    }

    main .left_hero_section{
        padding: 18px;
       
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

    }

    main .left_hero_section h1{
        font-size: 1.75rem;
        width: 404px;
        line-height: 42px;
        text-align: center;
        margin-left: 0;
        padding: 0;
    }

    main .left_hero_section p{
        width: 321px;
        font-size: 0.875rem;
        text-align: center;
        line-height: 21px;
        margin-bottom: 20px;
    }

    header .companies{
    border: none;
    margin: 0;
    flex-direction: column;
    gap: 22px;
    align-items: center;
    padding: 0;
    margin-top: 50px;
    overflow: hidden;
    
    
    
}
header .companies .companies_logo2{
    padding: 0 30px 0 20px;
}

header .companies .companies_logo1 img{
     width: 18%;
} 
header .companies .companies_logo2 img{
    width: 28%;
}



.companies .companies_logo1, .companies .companies_logo2{
    
    align-items: center;
    gap: 30px;
    

}
    
    
}



/* pospular collection section */

.popular_collection{
    margin-top: 100px;
}
.popular_collection h2{
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 30px;
}
.card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
    justify-self: center;
}
.popular_collection .card{
    width: 329px;

    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.119);
    

}

.popular_collection .card img{
    
    width: 300px;
    border-radius: 5px;
    

}

.popular_collection .card h3{
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 6px;

}

.popular_collection .card p{
    font-size: 1.5rem;
    margin-bottom: 6px;
    

}

.popular_collection .card .stars{
    display: flex;
    gap: 3px;
    margin-bottom: 4px;

}

.popular_collection .card .stars img{
    width: 16px;
    height: 16px;

}

.popular_collection .card .stars p{
    font-size: 0.875rem;
    color: #5E6366;

}

.popular_collection .card h4{
    width: 196px;
    color: #787885;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 143%;
    letter-spacing: 1.8%;

}

.see_more{
    color: #E02C6D;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    gap: 8px;
    position: absolute;
    margin-top: 50px;
    right: 330px;
    cursor: pointer;
}


@media screen and (max-width: 400px) {
    .card_container{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
}


.featured{
    margin-top: 100px;
    display: flex;
    gap: 96px;
    justify-content: center;
    align-items: center;
    
}

.featured .left_featured img{
    width: 404px;
    margin-bottom: 100px;
}

.featured .right_featured{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 100px;
    align-items: start;
}

.featured .right_featured h2{
    font-size: 2.375rem;
    color: #0A0826;
}

.featured .right_featured p{
    font-size: 1rem;
    color: #6C6C6C;
    width: 500px;
}



.join_now_btn{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    color: #fff; 
    gap: 10px;
    border-radius: 2px;
}

@media screen and (max-width: 400px) {
    .featured{
        flex-direction: column-reverse;
        gap: 30px;
        padding: 30px;
        text-align: center;
        
    }

    

    .featured .left_featured img{
    width: 299px;
    
    }

    .featured .right_featured{
        align-items: center;
        margin-bottom: 30px;
    }


.featured .right_featured h2 {
    font-size: 1.5rem;
    width: ;
    
}


.featured .right_featured p {
    font-size: 1rem;
    color: #6C6C6C;
    width: 329px;
    line-height: 28px;
}

.see_more {
    right: 30px;
    
}

.popular_collection {
    margin-top: 0px;
}
}
